@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Ubuntu');

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, p, div, nav {
    margin: 0;
    padding: 0;
}


header .top-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .top-line p {
    display: inline;
    font-family: Ubuntu;
    font-size: 1rem;
}


header .logo {
    font-family: Ubuntu;
    font-size: 1rem;
    color: blue;
    text-align: center;
    align-items:center;
}
header .logo h1 {
    display: inline;
    list-style-type: none;
    align-items:center;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Ubuntu;
    font-size: 2rem;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}
header .menu li {
    display: inline;
    list-style-type: none;
}
header .menu li a {
    text-decoration: none;
    color: white;
}
header .menu li a:hover {
    list-style-type: none;
    text-decoration: none;
    color: blue;
}


main .banner {
    background-image: url(../img/shoes-title.jpg);
    min-height: 400px;
    background-size: cover;
    background-position: center;
    
}
main .banner h2 {
    padding: 30px;
    color: blue;
    text-decoration: none;
}
.product-list article{
    display: inline;
}
.product-cart img {
    display: block;
    width: 100%;
}
.product-cart .button {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
    
