@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Germania+One|Ubuntu');

body {
    max-width: 980px;
    margin: auto;
}

h1, h2, h3, p, div, nav {
    margin: 0;
    padding: 0;
}


header .top-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .top-line p {
    display: inline;
    font-family: Ubuntu;
    font-size: 1rem;
}


header .logo {
    font-family: Ubuntu;
    font-size: 1rem;
    color: blue;
    display: flex;
    justify-content:center;
    align-items:center;
}
header .logo h1 {
    display: inline;
    list-style-type: none;
    align-items:center;
}

header .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Ubuntu;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    margin: 0;
    padding: 0;
}
header .menu li {
    display: inline;
    list-style-type: none;
}
header .menu li a {
    text-decoration: none;
    color: white;
}
header .menu li a:hover {
    list-style-type: none;
    text-decoration: none;
    color: blue;
}


header .banner {
    background-image: url(../img/shoes-title.jpg);
    min-height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    
}
header .banner h2 {
    padding: 30px;
    color: blue;
    text-decoration: none;

}
.product-list {
    font-family: Ubuntu;
    font-size: 1rem;
}
.product-cart {
    border: 1px solid blue;
}

.product-cart h3,
.product-cart p{
    padding: 0 5px;
}

.product-cart img {
    display: block;
    width: 100%;
}
.product-cart .button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}
.button:hover{
    background-color: blue;
    color: white;
}
    
@media (min-width: 480px){
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}
@media (min-width: 660px){
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 980px){
    .product-list {
        grid-template-columns: repeat(4, 1fr);
    }
}    

footer {
    background-color: black;
    font-family: Ubuntu;
    color: blue;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
}
    
footer .formname input {
    background-color: black;
    margin-left: 50px;
    border-width: 0;
}  
    
    
    
    
    